@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.sidebar {
  padding-top: 1.5rem;
  height: 85vh; 
  width: 18%;
  background-color: #212121;
  overflow: hidden !important;
  /* height: 100%; */
}
.sidebar_top {
  border-bottom: 0.2px solid gray;
  margin-bottom: 1rem;
  /* height: 19%; */
}
.sidebar_bw {
  border-bottom: 0.01px solid gray;
  margin-bottom: 1rem;
  /* height: 30%; */
}

.side_home {
  display: flex;
  padding: 0.5rem 0rem;
  align-items: center;
  padding-left: 1.8rem;
}
.side_home:hover {
  background-color: #615f5f;
  /* width: 100% !important; */
  cursor: pointer;
}

.side_icon {
  margin-right: 1.5rem;
  color: gray;
}

.side_text {
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.subscribe {
  color: gray;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 900 !important;
  padding-left: 1.8rem;
}
